- content_for :header, "Sign Up"
.row
  .small-12.columns
    =form_for @user do |f|
      .form-errors
        -if @user.errors.present?
          .callout.alert
            %ul
              -@user.errors.messages.each do |attribute, messages|
                %li
                  %strong
                    =attribute.to_s.humanize
                  ="#{messages.to_sentence}."
      .form-inputs
        %fieldset
          =f.text_field :handle, placeholder: "Username"
        %fieldset
          =f.email_field :email, placeholder: "Email"
        .row
          .small-12.medium-6.columns
            %fieldset
              =f.text_field :first_name, placeholder: "First Name"
          .small-12.medium-6.columns
            %fieldset
              =f.text_field :last_name, placeholder: "Last Name"
        %fieldset
          .row
            .small-3.medium-1.columns
              .switch
                =f.check_box :reminder_active, class: "switch-input"
                =f.label :reminder_active, class: "switch-paddle" do
                  %span.show-for-sr If I have not met my daily goal, send me a reminder email at:
            .small-9.medium-11.columns
              If I have not met my daily goal, send me a reminder email at:
        .row
          .small-12.medium-6.columns
            %fieldset
              = f.select :reminder_time, User::REMINDER_TIMES
          .small-12.medium-6.columns
            %fieldset
              =f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)", include_blank: false
        %fieldset
          =f.password_field :password, placeholder: "Password"
        %fieldset
          =f.password_field :password_confirmation, placeholder: "Password Confirmation"
        =recaptcha_tags
      .form-actions
        =f.submit "Register", class: "button hollow"
