.row
  .small-12.columns
    %h1.text-center.top-padded Sign Up
    =form_for @user do |f|
      .form-errors
        -if @user.errors.present?
          .callout.alert
            %ul
              -@user.errors.messages.each do |attribute, messages|
                %li
                  %strong
                    =attribute.to_s.humanize
                  ="#{messages.to_sentence}."
      .form-inputs
        %fieldset
          =f.text_field :handle, placeholder: "Username"
        %fieldset
          =f.email_field :email, placeholder: "Email"
        .row
          .small-12.medium-6.columns
            %fieldset
              =f.text_field :first_name, placeholder: "First Name"
          .small-12.medium-6.columns
            %fieldset
              =f.text_field :last_name, placeholder: "Last Name"
        %fieldset
          =f.password_field :password, placeholder: "Password"
        %fieldset
          =f.password_field :password_confirmation, placeholder: "Password Confirmation"
        =recaptcha_tags
      .form-actions
        =f.submit "Register", class: "button"
